{% extends 'posts/base.html' %}

{% block content %}
    <h2>{{devtool.name}}</h1>
    <small>{{devtool.kind}}</small><br />
    <small>{{devtool.content}}</small><br />
    <br />
    <hr />
    <div>
      <a href="{% url 'posts:dTUpdate' devtool.pk %}">수정하기</a>
    </div>
    <div>
      <a href="{% url 'posts:dTList' %}">목록</a>
    </div>
    <form action="{% url 'posts:dTDelete' devtool.pk %}" method="post">
      {% csrf_token %}
      <input type="submit" , value="삭제하기" />
    </form>
{% endblock %}