{% extends 'posts/base.html' %}

{% block content %}
    <h2>DevTool Register</h2>

    <form
      action="{% url 'posts:dTCreate' %}"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <input name="name" placeholder="게시글 이름" />
      <br />
      <input name="kind" placeholder="종류" />
      <br />
      <textarea name="content" placeholder="게시글 내용"></textarea>
      <br />
      <div>
        <input type="submit" , value="SUBMIT" />
      </div>
    </form>
{% endblock %}