{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>My Movie reviews</title>
</head>
<body>
    <div class="main_nav">
        <h1><a href="/">my<span>Movie</span>reviews</a></h1>
        <div>
            <a href="/posts/create">Add a New review</a>
        </div>
    </div>
    <hr>

    <div class="main_box_container">
        {% for movie in movies %}
        <div class="main_box">
            <p><a href="/posts/{{ movie.pk }}"> {{movie.movie_title }}</a></p>
            <small><span>개봉년도: </span>{{movie.movie_created_at }}년</small>
            <small><span>장르: </span>{{movie.movie_genre }}</small>
            <small><span>별점: </span>{{movie.rating }}</small>
        </div>
        {% endfor %}
    </div>
</body>
</html>
