<h1><a href="/">myMoviereviews</a></h1>

<h2>{{movie.movie_title }}</h2>
<a href="/posts/{{ movie.id }}/update" >수정</a>
<form action="/posts/{{ movie.id }}/delete" method="post">
  {% csrf_token %}
  <input type="submit" value="삭제" />
</form>
<small>개봉년도 {{movie.movie_created_at }}년</small>
<br />
<small>감독 {{movie.director}}</small>
<br />
<small>주연 {{movie.actor}}</small>
<br />
<small>장르 {{ movie.movie_genre }}</small>
<br />
<small>별점 {{ movie.rating }}</small>
<br />
<small>러닝타임 {{movie.running_time}}</small>

<div>{{ movie.review_content }}</div>