{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>My Movie reviews</title>
</head>
<body>
    <div class="main_nav">
        <h1><a href="/">my<span>Movie</span>reviews</a></h1>
        <div>
            <a href="/posts/create">Add a New review</a>
        </div>
    </div>
    <hr>
    <div class="retrieve_main_title">
        <h2>{{movie.movie_title }}</h2>
        <div>
            <div><a href="/posts/{{ movie.id }}/update" >수정</a></div>
            <form action="/posts/{{ movie.id }}/delete" method="post">
            {% csrf_token %}
            <input type="submit" value="삭제" />
            </form>
        </div>
    </div>
    <div class="retrieve_main_second">
        <div>
            <small><span>개봉년도</span> {{movie.movie_created_at }}년</small>
            <small><span>감독</span> {{movie.director}}</small>
            <small><span>주연</span> {{movie.actor}}</small>
            <small><span>장르</span> {{ movie.movie_genre }}</small>
            <small><span>별점</span> {{ movie.rating }}</small>
            <small><span>러닝타임</span> {{movie.running_time}}분</small>
        </div>
    </div>
    <div class="retrieve_main_second">
        <div>{{ movie.review_content }}</div>
    </div>
</body>
</html>
